<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <title> Война и мир: краткое содержание</title>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Великолепный сайт</a>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="/">Page 1</a></li>
            <li class="nav-item"><a class="nav-link active" href="/second">Page 2</a></li>
            <li class="nav-item"><a class="nav-link active" href="/third">Page 3</a></li>
            <li class="nav-item"><a class="nav-link active" href="/fourth">Page 4</a></li>
            <li class="nav-item"><a class="nav-link active" href="/fifth">Page 5</a></li>
            <li class="nav-item"><a class="nav-link active" href="/film">Film</a></li>
        </ul>
    </div>
</nav>
<!-- Begin page content -->


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/img/pic1.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
            <img src="static/img/pic2.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
            <img src="static/img/pic3.jpg" class="d-block w-100" alt="...">
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <table cellpadding=0 cellspacing=0 width=194
           style="border:solid 1px #fe2020;font-family:Arial;font-size:12px;background-color:#fedf20">
        <tr>
            <td>
                <table width=100% cellpadding=0 cellspacing=0>
                    <tr>
                        <td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshl.png" bgcolor=#fe2020>
                        </td>
                        <td width=* align=center background="https://rp5.ru/informer/htmlinfa/topsh.png"
                            bgcolor=#fe2020>
                            <a style="color:#ffffff; font-family:Arial;font-size: 12px;" href="https://rp5.ru/5483/ru">
                                <b>Москва (ВДНХ)</b>
                            </a></td>
                        <td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#fe2020>
                             
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign=top style="padding:0;">
                <iframe src="https://rp5.ru/htmla.php?id=5483&lang=ru&um=00000&bg=%23fedf20&ft=%23ffffff&fc=%23fe2020&c=%23000000&f=Arial&s=12&sc=4"
                        width=100% height=368 frameborder=0 scrolling=no style="margin:0;"></iframe>
            </td>
        </tr>
    </table>
    <div class="weeklynewsmain">
        <span class="weeklynews">Новости</span>
        <script type="text/javascript"
                src="https://vesti-online.ru/informer.htm?theme=&num=3&width=250&css=&font=Arial&bgcolor=&bsize=0&bcol=DDDDDD&tcol=000000&tsize=16&lcol=0000C0&lsize=13&dcol=333333&dsize=12&img=1&desc=1">

        </script>
        <a class="weeklynewsm" target="_blank" href="https://vesti-online.ru/news/autonews/1153.html"></a></div>
</div>

<div id="content">
    <div style="width: 1550px; height: 200px; position: absolute; top:1350px; left: 250px;">
        <h2>Война и мир: краткое содержание</h2>
    <h3>Том первый</h3>
    <p>
        Петербург, лето 1805 г. На вечере у фрейлины Шерер присутствуют среди прочих гостей Пьер Безухов, незаконный
        сын богатого вельможи, и князь Андрей Болконский. Разговор заходит о Наполеоне, и оба друга пытаются
        защитить великого человека от осуждений хозяйки вечера и её гостей. Князь Андрей собирается на войну, потому
        что мечтает о славе, равной славе Наполеона, а Пьер не знает, чем ему заняться, участвует в кутежах
        петербургской молодёжи (здесь особое место занимает Федор Долохов, бедный, но чрезвычайно волевой и
        решительный офицер); за очередное озорство Пьер выслан из столицы, а Долохов разжалован в солдаты.
        Далее автор переносит нас в Москву, в дом графа Ростова, доброго, хлебосольного помещика, устраивающего обед
        в честь именин жены и младшей дочери. Особый семейный уклад объединяет родителей Ростовых и детей — Николая
        (он собирается на войну с Наполеоном), Наташу, Петю и Соню (бедную родственницу Ростовых); чужой кажется
        только старшая дочь — Вера.</p>

    <p>У Ростовых продолжается праздник, все веселятся, танцуют, а в это время в другом московском доме — у старого
        графа Безухова — хозяин при смерти. Начинается интрига вокруг завещания графа: князь Василий Курагин
        (петербургский придворный) и три княжны — все они дальние родственники графа и его наследники — пытаются
        выкрасть портфель с новым завещанием Безухова, по которому его главным наследником становится Пьер; Анна
        Михайловна Друбецкая — бедная дама из аристократического старинного рода, самозабвенно преданная своему сыну
        Борису и везде ищущая покровительства для него, — мешает выкрасть портфель, и огромное состояние достаётся
        Пьеру, теперь уже графу Безухову. Пьер становится своим человеком в петербургском свете; князь Курагин
        старается женить его на своей дочери — красавице Элен — и преуспевает в этом.
        В Лысых Горах, имении Николая Андреевича Болконского, отца князя Андрея, жизнь идёт давно заведённым
        порядком; старый князь постоянно занят — то пишет записки, то даёт уроки дочери Марье, то работает в саду.
        Приезжает князь Андрей с беременной женой Лизой; он оставляет жену в доме отца, а сам отправляется на
        войну.</p>

    <p>Осень 1805 г.; русская армия в Австрии принимает участие в походе союзных государств (Австрии и Пруссии)
        против Наполеона. Главнокомандующий Кутузов делает все, чтобы избежать участия русских в сражении, — на
        смотре пехотного полка он обращает внимание австрийского генерала на плохое обмундирование (особенно на
        обувь) русских солдат; вплоть до Аустерлицкого сражения русская армия отступает, чтобы соединиться с
        союзниками и не принимать сражения с французами. Чтобы основные силы русских смогли отступить, Кутузов
        посылает четырёхтысячный отряд под командованием Багратиона задержать французов; Кутузову удаётся заключить
        перемирие с Мюратом (французским маршалом), что позволяет выиграть время.
        Юнкер Николай Ростов служит в Павлоградском гусарском полку; он живёт на квартире в немецкой деревне, где
        стоит полк, вместе со своим эскадронным командиром, ротмистром Василием Денисовым. В одно утро у Денисова
        пропал кошелёк с деньгами — Ростов выяснил, что кошелёк взял поручик Телянин. Но этот проступок Телянина
        бросает тень на весь полк — и командир полка требует, чтобы Ростов признал свою ошибку и извинился. Офицеры
        поддерживают командира — и Ростов уступает; он не извиняется, но отказывается от своих обвинений, и Телянина
        исключают из полка по болезни. Между тем полк отправляется в поход, и боевое крещение юнкера происходит во
        время переправы через реку Энс; гусары должны переправиться последними и поджечь мост.</p>

    <p>Во время Шенграбенского сражения (между отрядом Багратиона и авангардом французской армии) Ростов
        оказывается ранен (под ним убита лошадь, при падении он контузил руку); он видит приближающихся французов и
        «с чувством зайца, убегающего от собак», бросает пистолет в француза и бежит.</p>

    <p>За участие в сражении Ростов произведён в корнеты и награждён солдатским Георгиевским крестом. Он приезжает
        из Ольмюца, где, готовясь к смотру, стоит лагерем русская армия, в Измайловский полк, где находится Борис
        Друбецкой, чтобы повидаться с товарищем детства и забрать письма и деньги, присланные ему из Москвы. Он
        рассказывает Борису и Бергу, который квартирует вместе с Друбецким, историю своего ранения — но не так, как
        это было на самом деле, а так, как обычно рассказывают про кавалерийские атаки («как рубил направо и налево»
        и т. п.).</p>

    <p>Во время смотра Ростов испытывает чувство любви и обожания к императору Александру; это чувство только
        усиливается во время Аустерлицкого сражения, когда Николай видит царя — бледного, плачущего от поражения,
        одного посреди пустого поля.</p>

    <p>Князь Андрей вплоть до Аустерлицкого сражения живёт в ожидании великого подвига, который ему суждено
        совершить. Его раздражает все, что диссонирует с этим его чувством — и выходка офицера-насмешника Жеркова,
        поздравившего австрийского генерала с очередным поражением австрийцев, и эпизод на дороге, когда лекарская
        жена просит вступиться за неё и князь Андрей сталкивается с обозным офицером. Во время Шенграбенского
        сражения Болконский замечает капитана Тушина — «небольшого сутуловатого офицера» с негероической внешностью,
        командующего батареей. Успешные действия батареи Тушина обеспечили успех сражения, но когда капитан
        докладывал Багратиону о действиях своих артиллеристов, он робел больше, чем во время боя. Князь Андрей
        разочарован — его представление о героическом не вяжутся ни с поведением Тушина, ни с поведением самого
        Багратиона, ничего по сути не приказывавшего, а лишь соглашавшегося с тем, что предлагали ему подъезжавшие
        адъютанты и начальники.</p>

    <p>Накануне Аустерлицкого сражения был военный совет, на котором австрийский генерал Вейротер читал диспозицию
        предстоящего сражения. Во время совета Кутузов откровенно спал, не видя никакого прока ни в какой диспозиции
        и предчувствуя, что завтрашнее сражение будет проиграно. Князь Андрей хотел высказать свои соображения и
        свой план, но Кутузов прервал совет и предложил всем разойтись. Ночью Болконский думает о завтрашнем
        сражении и о своём решающем участии в нем. Он хочет славы и готов отдать за неё все: «Смерть, раны, потеря
        семьи, ничто мне не страшно».</p>

    <p>Наутро, как только солнце вышло из тумана, Наполеон дал знак начинать сражение — это был день годовщины его
        коронования, и он был счастлив и уверен в себе. Кутузов же выглядел мрачным — он сразу заметил, что в
        войсках союзников начинается путаница. Перед сражением император спрашивает у Кутузова, почему не начинается
        сражение, и слышит от старого главнокомандующего: «Потому и не начинаю, государь, что мы не на параде и не
        на Царицыном Лугу». Очень скоро русские войска, обнаружив неприятеля намного ближе, чем предполагали,
        расстраивают ряды и бегут. Кутузов требует остановить их, и князь Андрей со знаменем в руках бросается
        вперёд, увлекая за собой батальон. Почти сразу его ранят, он падает и видит над собой высокое небо с тихо
        ползущими по нему облаками. Все его прежние мечты о славе кажутся ему ничтожными; ничтожным и мелким кажется
        ему и его кумир, Наполеон, объезжающий поле боя после того, как французы наголову разбили союзников. «Вот
        прекрасная смерть», — говорит Наполеон, глядя на Болконского. Убедившись, что Болконский ещё жив, Наполеон
        приказывает отнести его на перевязочный пункт. В числе безнадёжных раненых князь Андрей был оставлен на
        попечение жителей.</p>
    </div>


</div>

<div id="links">
        <div style="width: 200px; height: 200px; position: absolute; top:2250px; left: 50px;">
            <h5>Полезные ссылки</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="/second">Следующая страница</a></li>
                <li class="mb-2"><a href="https://github.com/JustASpoody/School_site">Этот сайт</a></li>
                <li class="mb-2"><a href="https://vk.com/justbogdannavernoe">Vk</a></li>
                <li class="mb-2"><a href="https://github.com/JustASpoody">Github</a></li>
            </ul>
        </div>

    </div>
</body>
</html>