<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <title> Война и мир: краткое содержание</title>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Великолепный сайт</a>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="/">Page 1</a></li>
            <li class="nav-item"><a class="nav-link active" href="/second">Page 2</a></li>
            <li class="nav-item"><a class="nav-link active" href="/third">Page 3</a></li>
            <li class="nav-item"><a class="nav-link active" href="/fourth">Page 4</a></li>
            <li class="nav-item"><a class="nav-link active" href="/fifth">Page 5</a></li>
            <li class="nav-item"><a class="nav-link active" href="/film">Film</a></li>
        </ul>
    </div>
</nav>
<!-- Begin page content -->


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <table cellpadding=0 cellspacing=0 width=194
           style="border:solid 1px #fe2020;font-family:Arial;font-size:12px;background-color:#fedf20">
        <tr>
            <td>
                <table width=100% cellpadding=0 cellspacing=0>
                    <tr>
                        <td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshl.png" bgcolor=#fe2020>
                        </td>
                        <td width=* align=center background="https://rp5.ru/informer/htmlinfa/topsh.png"
                            bgcolor=#fe2020>
                            <a style="color:#ffffff; font-family:Arial;font-size: 12px;" href="https://rp5.ru/5483/ru">
                                <b>Москва (ВДНХ)</b>
                            </a></td>
                        <td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#fe2020>
                             
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign=top style="padding:0;">
                <iframe src="https://rp5.ru/htmla.php?id=5483&lang=ru&um=00000&bg=%23fedf20&ft=%23ffffff&fc=%23fe2020&c=%23000000&f=Arial&s=12&sc=4"
                        width=100% height=368 frameborder=0 scrolling=no style="margin:0;"></iframe>
            </td>
        </tr>
    </table>
    <div class="weeklynewsmain">
        <span class="weeklynews">Новости</span>
        <script type="text/javascript"
                src="https://vesti-online.ru/informer.htm?theme=&num=3&width=250&css=&font=Arial&bgcolor=&bsize=0&bcol=DDDDDD&tcol=000000&tsize=16&lcol=0000C0&lsize=13&dcol=333333&dsize=12&img=1&desc=1">

        </script>
        <a class="weeklynewsm" target="_blank" href="https://vesti-online.ru/news/autonews/1153.html"></a></div>
</div>

<div id="content">
    <style type="text/css">
   body { margin: 0; }
   #sidebar, #content { position: absolute; }
   #sidebar, #content { overflow: auto; padding: 10px; }
   #header {
    height: 80px; /* Высота слоя */
    background: #FEDFC0; border-bottom: 2px solid #7B5427;
   }
   #header h1 { padding: 20px; margin: 0; }
   #sidebar {
    width: 150px; background: #ECF5E4; border-right: 1px solid #231F20;
    top: 82px; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
   }
   #content {
    top: 82px; /* Расстояние от верхнего края */
    left: 240px; /* Расстояние от левого края */
    bottom: 0; right: 0;
   }

    </style>
    <h2>Война и мир: краткое содержание</h2>
    <h3>Том второй</h3>
    <p>
        Николай Ростов приезжает в отпуск домой; Денисов едет с ним. Ростов везде — и дома, и знакомыми, то есть всей
        Москвой — принят как герой; он сближается с Долоховым (и становится одним из его секундантов на дуэли с
        Безуховым). Долохов делает предложение Соне, но та, влюблённая в Николая, отказывает; на прощальной пирушке,
        устроенной Долоховым для своих друзей перед отъездом в армию, он обыгрывает Ростова (по-видимому, не вполне
        честно) на крупную сумму, как бы мстя ему за Сонин отказ.</p>

    <p> В доме Ростовых царит атмосфера влюбленности и веселья, создаваемая прежде всего Наташей. Она прекрасно поёт,
        танцует (на балу у Иогеля, учителя танцев, Наташа танцует мазурку с Денисовым, что вызывает общее восхищение).
        Когда Ростов после проигрыша возвращается домой в угнетённом состоянии, он слышит пение Наташи и забывает обо
        всем — о проигрыше, о Долохове: «все это вздор ‹…› а вот оно — настоящее». Николай признается отцу в проигрыше;
        когда удаётся собрать нужную сумму, он уезжает в армию. Денисов, восхищённый Наташей, просит её руки, получает
        отказ и уезжает.</p>

    <p>В Лысых Горах в декабре 1805 г. побывал князь Василий с младшим сыном — Анатолем; цель Курагина состояла в том,
        чтобы женить своего беспутного сына на богатой наследнице — княжне Марье. Княжну необычайно взволновал приезд
        Анатоля; старый князь не хотел этого брака — он не любил Курагиных и не хотел расставаться с дочерью. Случайно
        княжна Марья замечает Анатоля, обнимающего её компаньонку-француженку, m-lle Бурьен; к радости своего отца, она
        отказывает Анатолю.</p>

    <p>После Аустерлицкого сражения старый князь получает письмо от Кутузова, в котором сказано, что князь Андрей «пал
        героем, достойным своего отца и своего отечества». Там же говорится, что среди убитых Болконский не обнаружен;
        это позволяет надеяться, что князь Андрей жив. Между тем княгиня Лиза, жена Андрея, должна родить, и в самую
        ночь родов возвращается Андрей. Княгиня Лиза умирает; на её мёртвом лице Болконский читает вопрос: «Что вы со
        мной сделали?» — чувство вины перед покойной женой более не оставляет его.</p>

    <p>    Пьера Безухова мучает вопрос о связи его жены с Долоховым: намёки знакомых и анонимное письмо постоянно
        возбуждают этот вопрос. На обеде в московском Английском клубе, устроенном в честь Багратиона, между Безуховым и
        Долоховым вспыхивает ссора; Пьер вызывает Долохова на дуэль, на которой он (не умеющий стрелять и никогда не
        державший прежде пистолета в руках) ранит своего противника. После тяжёлого объяснения с Элен Пьер уезжает из
        Москвы в Петербург, оставив ей доверенность на управление своими великорусскими имениями (что составляет большую
        часть его состояния).</p>
    <p>
        По дороге в Петербург Безухов останавливается на почтовой станции в Торжке, где знакомится с известным масоном
        Осипом Алексеевичем Баздеевым, который наставляет его — разочарованного, растерянного, не знающего, как и зачем
        жить дальше, — и даёт ему рекомендательное письмо к одному из петербургских масонов. По приезде Пьер вступает в
        масонскую ложу: он в восторге от открывшейся ему истины, хотя сам ритуал посвящения в масоны его несколько
        смущает. Преисполненный желания делать добро ближним, в частности своим крестьянам, Пьер едет в свои имения в
        Киевской губернии. Там он очень рьяно приступает к реформам, но, не имея «практической цепкости», оказывается
        вполне обманутым своим управляющим.</p>

    <p>    Возвращаясь из южного путешествия, Пьер навещает своего друга Болконского в его имении Богучарово. Князь Андрей
        после Аустерлица твёрдо решил нигде не служить (чтобы отделаться от действительной службы, он принял должность
        по сбору ополчения под началом своего отца). Все его заботы замыкаются на сыне. Пьер замечает «потухший, мёртвый
        взгляд» своего друга, его отрешённость. Энтузиазм Пьера, его новые взгляды резко контрастируют со скептическим
        настроением Болконского; князь Андрей полагает, что ни школы, ни больницы для крестьян не нужны, а отменить
        крепостное право нужно не для крестьян — они привыкли к нему, — а для помещиков, которых развращает
        неограниченная власть над другими людьми. Когда друзья отправляются в Лысые Горы, к отцу и сестре князя Андрея,
        между ними происходит разговор (на пароме во время переправы): Пьер излагает князю Андрею свои новые взгляды
        («мы живём не нынче только на этом клочке земли, а жили и будем жить вечно там, во всем»), и Болконский впервые
        после Аустерлица видит «высокое, вечное небо»; «что-то лучшее, что было в нем, вдруг радостно проснулось в его
        душе». Пока Пьер был в Лысых Горах, он наслаждался близкими, дружескими отношениями не только с князем Андреем,
        но и со всеми его родными и домашними; для Болконского со встречи с Пьером началась (внутренне) новая жизнь.
        Возвратившись из отпуска в полк, Николай Ростов почувствовал себя как дома. Все было ясно, заранее известно;
        правда, нужно было думать о том, чем кормить людей и лошадей, — от голода и болезней полк потерял почти половину
        людей. Денисов решается отбить транспорт с продовольствием, назначенный пехотному полку; вызванный в штаб, он
        встречает там Телянина (в должности обер-провиантмейстера), избивает его и за это должен предстать перед судом.
        Воспользовавшись тем, что он был легко ранен, Денисов отправляется в госпиталь. Ростов навещает Денисова в
        госпитале — его поражает вид больных солдат, лежащих на соломе и на шинелях на полу, запах гниющего тела; в
        офицерских палатах он встречает Тушина, потерявшего руку, и Денисова, который после некоторых уговоров
        соглашается подать государю просьбу о помиловании.</p>

    <p>    С этим письмом Ростов отправляется в Тильзит, где происходит свидание двух императоров — Александра и Наполеона.
        На квартире Бориса Друбецкого, зачисленного в свиту русского императора, Николай видит вчерашних врагов —
        французских офицеров, с которыми охотно общается Друбецкой. Все это — и неожиданная дружба обожаемого царя с
        вчерашним узурпатором Бонапартом, и свободное дружеское общение свитских офицеров с французами — все раздражает
        Ростова. Он не может понять, зачем нужны были сражения, оторванные руки и ноги, если императоры так любезны друг
        с другом и награждают друг друга и солдат неприятельских армий высшими орденами своих стран. Случайно ему
        удаётся передать письмо с просьбой Денисова знакомому генералу, а тот отдаёт его царю, но Александр отказывает:
        «закон сильнее меня». Страшные сомнения в душе Ростова кончаются тем, что он убеждает знакомых офицеров, как и
        он, недовольных миром с Наполеоном, а главное — себя в том, что государь знает лучше, что нужно делать. А «наше
        дело — рубиться и не думать», — говорит он, заглушая свои сомнения вином.
        Те предприятия, которые затеял у себя Пьер и не смог довести ни до какого результата, были исполнены князем
        Андреем. Он перевёл триста душ в вольные хлебопашцы (т. е. освободил от крепостной зависимости) ; заменил
        барщину оброком в других имениях; крестьянских детей начали учить грамоте и т. д. Весной 1809 г. Болконский
        поехал по делам в рязанские имения. По дороге он замечает, как все вокруг зелено и солнечно; только огромный
        старый дуб «не хотел подчиняться обаянию весны» — князю Андрею в лад с видом этого корявого дуба кажется, что
        жизнь его кончена.</p>

    <p>    По опекунским делам Болконскому нужно увидеться с Ильёй Ростовым — уездным предводителем дворянства, и князь
        Андрей едет в Отрадное, имение Ростовых. Ночью князь Андрей слышит разговор Наташи и Сони: Наташа полна восторга
        от прелести ночи, и в душе князя Андрея «поднялась неожиданная путаница молодых мыслей и надежд». Когда — уже в
        июле — он проезжал ту самую рощу, где видел старый корявый дуб, тот преобразился: «сквозь столетнюю жёсткую кору
        пробились без сучков сочные молодые листья». «Нет, жизнь не кончена в тридцать один год», — решает князь Андрей;
        он едет в Петербург, чтобы «принять деятельное участие в жизни».
        В Петербурге Болконский сближается со Сперанским — государственным секретарем, близким к императору энергичным
        реформатором. К Сперанскому князь Андрей испытывает чувство восхищения, «похожее на то, которое он когда-то
        испытывал к Бонапарте». Князь становится членом комиссии составления воинского устава. В это время Пьер Безухов
        тоже живёт в Петербурге — он разочаровался в масонстве, примирился (внешне) со своей женой Элен; в глазах света
        он — чудак и добрый малый, но в душе его продолжается «трудная работа внутреннего развития».</p>

    <p>    Ростовы тоже оказываются в Петербурге, т. к. старый граф, желая поправить денежные дела, приезжает в столицу
        искать места службы. Берг делает предложение Вере и женится на ней. Борис Друбецкой, уже близкий человек в
        салоне графини Элен Безуховой, начинает ездить к Ростовым, не в силах устоять перед обаянием Наташи; в разговоре
        с матерью Наташа признается, что не влюблена в Бориса и не собирается выходить за него замуж, но ей нравится,
        что он ездит. Графиня поговорила с Друбецким, и тот перестал бывать у Ростовых.
        В канун Нового года должен быть бал у екатерининского вельможи. Ростовы тщательно готовятся к балу; на самом
        балу Наташа испытывает страх и робость, восторг и волнение. Князь Андрей приглашает её танцевать, и «вино её
        прелести ударило ему в голову»: после бала ему кажутся незначительными его занятия в комиссии, речь государя в
        Совете, деятельность Сперанского. Он делает предложение Наташе, и Ростовы принимают его, но по условию,
        поставленному старым князем Болконским, свадьба может состояться только через год. На этот год Болконский
        уезжает за границу.</p>

    <p>    Николай Ростов приезжает в отпуск в Отрадное. Он пытается привести в порядок хозяйственные дела, пытается
        проверить счета приказчика Митеньки, но из этого ничего не выходит. В середине сентября Николай, старый граф,
        Наташа и Петя со сворой собак и свитой охотников выезжают на большую охоту. Вскоре к ним присоединяется их
        дальний родственник и сосед («дядюшка»). Старый граф со своими слугами пропустил волка, за что ловчий Данило его
        обругал, как бы забыв, что граф его барин. В это время на Николая вышел другой волк, и собаки Ростова его взяли.
        Позже охотники встретили охоту соседа — Илагина; собаки Илагина, Ростова и дядюшки погнали зайца, но взял его
        дядюшкин кобель Ругай, что привело в восхищение дядюшку. Затем Ростов с Наташей и Петей едут к дядюшке. После
        ужина дядюшка стал играть на гитаре, а Наташа пошла плясать. Когда они возвращались в Отрадное, Наташа
        призналась, что никогда уже не будет так счастлива и спокойна, как теперь.</p>

    <p>    Наступили святки; Наташа томится от тоски по князю Андрею — на короткое время её, как и всех, развлекает поездка
        ряжеными к соседям, но мысль о том, что «даром пропадает её лучшее время», мучает её. Во время святок Николай
        особенно остро почувствовал любовь к Соне и объявил о ней матери и отцу, но их этот разговор очень расстроил:
        Ростовы надеялись, что их имущественные обстоятельства поправит женитьба Николая на богатой невесте. Николай
        возвращается в полк, а старый граф с Соней и Наташей уезжает в Москву.</p>

    <p>    Старый Болконский тоже живёт в Москве; он заметно постарел, стал раздражительнее, отношения с дочерью
        испортились, что мучает и самого старика, и в особенности княжну Марью. Когда граф Ростов с Наташей приезжают к
        Болконским, те принимают Ростовых недоброжелательно: князь — с расчётом, а княжна Марья — сама страдая от
        неловкости. Наташу это больно ранит; чтобы её утешить, Марья Дмитриевна, в доме которой Ростовы остановились,
        взяла ей билет в оперу. В театре Ростовы встречают Бориса Друбецкого, теперь жениха Жюли Карагиной, Долохова,
        Элен Безухову и её брата Анатоля Курагина. Наташа знакомится с Анатолем. Элен приглашает Ростовых к себе, где
        Анатоль преследует Наташу, говорит ей о своей любви к ней. Он тайком посылает ей письма и собирается похитить
        её, чтобы тайно венчаться (Анатоль уже был женат, но этого почти никто не знал).</p>

    <p>    Похищение не удаётся — Соня случайно узнает о нем и признается Марье Дмитриевне; Пьер рассказывает Наташе, что
        Анатоль женат. Приехавший князь Андрей узнает об отказе Наташи (она прислала письмо княжне Марье) и о её романе
        с Анатолем; он через Пьера возвращает Наташе её письма. Когда Пьер приезжает к Наташе и видит её заплаканное
        лицо, ему становится жалко её и вместе с тем он неожиданно для себя говорит ей, что если бы он был «лучший
        человек в мире», то «на коленях просил бы руки и любви» её. В слезах «умиления и счастья» он уезжает.</p>

</div>

<div id="links">
    <div style="width: 200px; height: 200px; position: absolute; top:1050px; left: 50px;">
            <h5>Сслыки</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="https://vk.com/justbogdannavernoe">Vk</a></li>
                <li class="mb-2"><a href="https://github.com/JustASpoody">Github</a></li>
            </ul>
        </div>

        <div style="width: 200px; height: 200px; position: absolute; top:950px; left: 50px;">
            <h5>Этот проект</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="https://github.com/JustASpoody/School_site">Этот сайт</a></li>
            </ul>
        </div>

    </div>
</body>
</html>