<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <title> Война и мир: краткое содержание</title>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">InfoSite</a>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="/">Page 1</a></li>
            <li class="nav-item"><a class="nav-link active" href="/second">Page 2</a></li>
            <li class="nav-item"><a class="nav-link active" href="/third">Page 3</a></li>
            <li class="nav-item"><a class="nav-link active" href="/fourth">Page 4</a></li>
            <li class="nav-item"><a class="nav-link active" href="/fifth">Page 5</a></li>
            <li class="nav-item"><a class="nav-link active" href="/film">Film</a></li>
        </ul>
    </div>
</nav>
<!-- Begin page content -->


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <table cellpadding=0 cellspacing=0 width=194
           style="border:solid 1px #fe2020;font-family:Arial;font-size:12px;background-color:#fedf20">
        <tr>
            <td>
                <table width=100% cellpadding=0 cellspacing=0>
                    <tr>
                        <td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshl.png" bgcolor=#fe2020>
                        </td>
                        <td width=* align=center background="https://rp5.ru/informer/htmlinfa/topsh.png"
                            bgcolor=#fe2020>
                            <a style="color:#ffffff; font-family:Arial;font-size: 12px;" href="https://rp5.ru/5483/ru">
                                <b>Москва (ВДНХ)</b>
                            </a></td>
                        <td width=8 height=30 background="https://rp5.ru/informer/htmlinfa/topshr.png" bgcolor=#fe2020>
                             
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign=top style="padding:0;">
                <iframe src="https://rp5.ru/htmla.php?id=5483&lang=ru&um=00000&bg=%23fedf20&ft=%23ffffff&fc=%23fe2020&c=%23000000&f=Arial&s=12&sc=4"
                        width=100% height=368 frameborder=0 scrolling=no style="margin:0;"></iframe>
            </td>
        </tr>
    </table>
    <div class="weeklynewsmain">
        <span class="weeklynews">Новости</span>
        <script type="text/javascript"
                src="https://vesti-online.ru/informer.htm?theme=&num=3&width=250&css=&font=Arial&bgcolor=&bsize=0&bcol=DDDDDD&tcol=000000&tsize=16&lcol=0000C0&lsize=13&dcol=333333&dsize=12&img=1&desc=1">

        </script>
        <a class="weeklynewsm" target="_blank" href="https://vesti-online.ru/news/autonews/1153.html"></a></div>
</div>

<div id="content">
    <style type="text/css">
   body { margin: 0; }
   #sidebar, #content { position: absolute; }
   #sidebar, #content { overflow: auto; padding: 10px; }
   #header {
    height: 80px; /* Высота слоя */
    background: #FEDFC0; border-bottom: 2px solid #7B5427;
   }
   #header h1 { padding: 20px; margin: 0; }
   #sidebar {
    width: 150px; background: #ECF5E4; border-right: 1px solid #231F20;
    top: 82px; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
   }
   #content {
    top: 82px; /* Расстояние от верхнего края */
    left: 240px; /* Расстояние от левого края */
    bottom: 0; right: 0;
   }

    </style>
    <h3>Том третий</h3>
    <p>
        В июне 1812 г. начинается война, Наполеон становится во главе армии. Император Александр, узнав, что неприятель
        перешёл границу, посылает к Наполеону генерал-адъютанта Балашева. Четыре дня Балашев проводит у французов,
        которые не признают за ним того важного значения, которое он имел при русском дворе, и наконец Наполеон
        принимает его в том самом дворце, из которого отправлял его русский император. Наполеон слушает только себя, не
        замечая, что часто впадает в противоречия.</p>

    <p>    Князь Андрей хочет найти Анатоля Курагина и вызвать его на дуэль; для этого он едет в Петербург, а потом в
        Турецкую армию, где служит при штабе Кутузова. Когда Болконский узнает о начале войны с Наполеоном, он просит
        перевода в Западную армию; Кутузов даёт ему поручение к Барклаю де Толли и отпускает его. По дороге князь Андрей
        заезжает в Лысые Горы, где внешне все по-прежнему, но старый князь очень раздражён на княжну Марью и заметно
        приближает к себе m-lle Bourienne. Между старым князем и Андреем происходит тяжёлый разговор, князь Андрей
        уезжает.</p>

    <p>    В Дрисском лагере, где находилась главная квартира русской армии, Болконский застаёт множество
        противоборствующих партий; на военном совете он окончательно понимает, что нет никакой военной науки, а все
        решается «в рядах». Он просит у государя разрешения служить в армии, а не при дворе.</p>

    <p>    Павлоградский полк, в котором по-прежнему служит Николай Ростов, уже ротмистр, отступает из Польши к русским
        границам; никто из гусар не думает о том, куда и зачем идут. 12 июля один из офицеров рассказывает в присутствии
        Ростова про подвиг Раевского, который вывел на Салтановскую плотину двух сыновей и с ними рядом пошёл в атаку;
        история эта вызывает у Ростова сомнения: он не верит рассказу и не видит смысла в подобном поступке, если это и
        было на самом деле. На следующий день при местечке Островне эскадрон Ростова ударил на французских драгун,
        теснивших русских улан. Николай взял в плен французского офицера «с комнатным лицом» — за это он получил
        Георгиевский крест, но сам он никак не мог понять, что смущает его в этом так называемом подвиге.</p>

    <p>    Ростовы живут в Москве, Наташа очень больна, к ней ездят доктора; в конце петровского поста Наташа решает
        говеть. 12 июля, в воскресенье, Ростовы поехали к обедне в домашнюю церковь Разумовских. На Наташу очень сильное
        впечатление производит молитва («Миром Господу помолимся»). Она постепенно возвращается к жизни и даже вновь
        начинает петь, чего она уже давно не делала. Пьер привозит Ростовым воззвание государя к москвичам, все
        растроганы, а Петя просит, чтобы ему разрешили пойти на войну. Не получив разрешения, Петя решает на следующий
        день пойти встречать государя, приезжающего в Москву, чтобы выразить ему своё желание служить отечеству.</p>

    <p>    В толпе москвичей, встречающих царя, Петю чуть не задавили. Вместе с другими он стоял перед Кремлевским дворцом,
        когда государь вышел на балкон и начал бросать народу бисквиты — один бисквит достался Пете. Вернувшись домой,
        Петя решительно объявил, что непременно пойдёт на войну, и старый граф на следующий день поехал узнавать, как бы
        пристроить Петю куда-нибудь побезопаснее. На третий день пребывания в Москве царь встретился с дворянством и
        купечеством. Все были в умилении. Дворянство жертвовало ополчение, а купцы — деньги.</p>

    <p>    Старый князь Болконский слабеет; несмотря на то что князь Андрей в письме сообщал отцу, что французы уже у
        Витебска и что пребывание его семьи в Лысых Горах небезопасно, старый князь заложил в своём имении новый сад и
        новый корпус. Князь Николай Андреевич посылает управляющего Алпатыча в Смоленск с поручениями, тот, приехав в
        город, останавливается на постоялом дворе, у знакомого хозяина — Ферапонтова. Алпатыч передаёт губернатору
        письмо от князя и слышит совет ехать в Москву. Начинается бомбардировка, а потом и пожар Смоленска. Ферапонтов,
        ранее не желавший и слышать об отъезде, неожиданно начинает раздавать солдатам мешки с продовольствием: «Тащи
        все, ребята! ‹…› Решилась! Расея!» Алпатыч встречает князя Андрея, и тот пишет сестре записку, предлагая срочно
        уезжать в Москву.</p>

    <p>    Для князя Андрея пожар Смоленска «был эпохой» — чувство озлобления против врага заставляло его забывать своё
        горе. Его называли в полку «наш князь», любили его и гордились им, и он был добр и кроток «со своими полковыми».
        Его отец, отправив домашних в Москву, решил остаться в Лысых Горах и защищать их «до последней крайности»;
        княжна Марья не соглашается уехать вместе с племянниками и остаётся с отцом. После отъезда Николушки со старым
        князем случается удар, и его перевозят в Богучарово. Три недели разбитый параличом князь лежит в Богучарове,
        наконец он умирает, перед смертью попросив прощения у дочери.</p>

    <p>    Княжна Марья после похорон отца собирается выехать из Богучарова в Москву, но богучаровские крестьяне не хотят
        выпускать княжну. Случайно в Богучарове оказывается Ростов, легко усмиривший мужиков, и княжна может уехать. И
        она, и Николай думают о воле провидения, устроившей их встречу.</p>

    <p>    Когда Кутузов назначается главнокомандующим, он призывает князя Андрея к себе; тот прибывает в Царево-Займище,
        на главную квартиру. Кутузов с сочувствием выслушивает известие о кончине старого князя и предлагает князю
        Андрею служить при штабе, но Болконский просит разрешения остаться в полку. Денисов, тоже прибывший на главную
        квартиру, спешит изложить Кутузову план партизанской войны, но Кутузов слушает Денисова (как и доклад дежурного
        генерала) явно невнимательно, как бы «своею опытностью жизни» презирая все то, что ему говорилось. И князь
        Андрей уезжает от Кутузова совершенно успокоенный. «Он понимает, — думает Болконский о Кутузове, — что есть
        что-то сильнее и значительнее его воли, — это неизбежный ход событий, и он умеет видеть их, умеет понимать их
        значение ‹…› А главное — это то, что он русский».</p>

    <p>    Это же он говорит перед Бородинским сражением Пьеру, приехавшему, чтобы видеть сражение. «Пока Россия была
        здорова, ей мог служить чужой и был прекрасный министр, но как только она в опасности, нужен свой, родной
        человек», — объясняет Болконский назначение Кутузова главнокомандующим вместо Барклая. Во время сражения князь
        Андрей смертельно ранен; его приносят в палатку на перевязочный пункт, где он на соседнем столе видит Анатоля
        Курагина — тому ампутируют ногу. Болконский охвачен новым чувством — чувством сострадания и любви ко всем, в том
        числе и к врагам своим.</p>

    <p>    Появлению Пьера на Бородинском поле предшествует описание московского общества, где отказались говорить
        по-французски (и даже берут штраф за французское слово или фразу), где распространяются растопчинские афишки, с
        их псевдонародным грубым тоном. Пьер чувствует особенное радостное «жертвенное» чувство: «все вздор в сравнении
        с чем-то», чего Пьер не мог уяснить себе. По дороге к Бородину он встречает ополченцев и раненых солдат, один из
        которых говорит: «Всем народом навалиться хотят». На поле Бородина Безухов видит молебен перед Смоленской
        чудотворной иконой, встречает некоторых своих знакомых, в том числе Долохова, который просит прощения у Пьера.</p>

    <p>    Во время сражения Безухов оказался на батарее Раевского. Солдаты вскоре привыкают к нему, называют его «наш
        барин»; когда кончаются заряды, Пьер вызывается принести новых, но не успел он дойти до зарядных ящиков, как
        раздался оглушительный взрыв. Пьер бежит на батарею, где уже хозяйничают французы; французский офицер и Пьер
        одновременно хватают друг друга, но пролетавшее ядро заставляет их разжать руки, а подбежавшие русские солдаты
        прогоняют французов. Пьера ужасает вид мёртвых и раненых; он уходит с поля сражения и три версты идёт по
        Можайской дороге. Он садится на обочину; через некоторое время трое солдат разводят поблизости костёр и зовут
        Пьера ужинать. После ужина они вместе идут к Можайску, по дороге встречают берейтора Пьера, который отводит
        Безухова к постоялому двору. Ночью Пьер видит сон, в котором с ним говорит благодетель (так он называет
        Баздеева); голос говорит, что надо уметь соединять в своей душе «значение всего». «Нет, — слышит Пьер во сне, —
        не соединять, а сопрягать надо». Пьер возвращается в Москву.</p>

    <p>    Ещё два персонажа даны крупным планом во время Бородинского сражения: Наполеон и Кутузов. Накануне сражения
        Наполеон получает из Парижа подарок от императрицы — портрет сына; он приказывает вынести портрет, чтобы
        показать его старой гвардии. Толстой утверждает, что распоряжения Наполеона перед Бородинским сражением были
        ничуть не хуже всех других его распоряжений, но от воли французского императора ничего не зависело. Под
        Бородином французская армия потерпела нравственное поражение — это и есть, по Толстому, важнейший результат
        сражения.</p>

    <p>    Кутузов во время боя не делал никаких распоряжений: он знал, что решает исход сражения «неуловимая сила,
        называемая духом войска», и он руководил этой силой, «насколько это было в его власти». Когда флигель-адъютант
        Вольцоген приезжает к главнокомандующему с известием от Барклая, что левый фланг расстроен и войска бегут,
        Кутузов яростно нападает на него, утверждая, что неприятель всюду отбит и что завтра будет наступление. И это
        настроение Кутузова передаётся солдатам.</p>

    <p>    После Бородинского сражения русские войска отступают к Филям; главный вопрос, который обсуждают военачальники,
        это вопрос о защите Москвы. Кутузов, понимающий, что Москву защищать нет никакой возможности, отдаёт приказ об
        отступлении. В то же время Растопчин, не понимая смысла происходящего, приписывает себе руководящее значение в
        оставлении и пожаре Москвы — то есть в событии, которое не могло совершиться по воле одного человека и не могло
        не совершиться в тогдашних обстоятельствах. Он советует Пьеру уезжать из Москвы, напоминая ему его связь с
        масонами, отдаёт толпе на растерзание купеческого сына Верещагина и уезжает из Москвы. В Москву вступают
        французы. Наполеон стоит на Поклонной горе, ожидая депутации бояр и разыгрывая в своём воображении великодушные
        сцены; ему докладывают, что Москва пуста.</p>

    <p>    Накануне оставления Москвы у Ростовых шли сборы к отъезду. Когда подводы были уже уложены, один из раненых
        офицеров (накануне несколько раненых были приняты Ростовыми в дом) попросил разрешения отправиться с Ростовыми
        на их подводе дальше. Графиня вначале возражала — ведь пропадало последнее состояние, — но Наташа убедила
        родителей отдать все подводы раненым, а большую часть вещей оставить. В числе раненых офицеров, которые ехали с
        Ростовыми из Москвы, был и Андрей Болконский. В Мытищах, во время очередной остановки, Наташа вошла в комнату,
        где лежал князь Андрей. С тех пор она на всех отдыхах и ночлегах ухаживала за ним.</p>

    <p>   Пьер не уехал из Москвы, а ушел из своего дома и стал жить в доме вдовы Баздеева. Ещё до поездки в Бородино он
        узнал от одного из братьев-масонов, что в Апокалипсисе предсказано нашествие Наполеона; он стал вычислять
        значение имени Наполеона («зверя» из Апокалипсиса), и число это было равно 666; та же сумма получалась из
        числового значения его имени. Так Пьеру открылось его предназначение — убить Наполеона. Он остаётся в Москве и
        готовится к великому подвигу. Когда французы вступают в Москву, в дом Баздеева приходит офицер Рамбаль со своим
        денщиком. Безумный брат Баздеева, живший в том же доме, стреляет в Рамбаля, но Пьер вырывает у него пистолет. Во
        время обеда Рамбаль откровенно рассказывает Пьеру о себе, о своих любовных похождениях; Пьер рассказывает
        французу историю своей любви к Наташе. Наутро он отправляется в город, уже не очень веря своему намерению убить
        Наполеона, спасает девочку, вступается за армянское семейство, которое грабят французы; его арестовывает отряд
        французских улан.</p>

</div>

<div id="links">
    <div style="width: 200px; height: 200px; position: absolute; top:1050px; left: 50px;">
            <h5>Links</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="https://vk.com/justbogdannavernoe">Vk</a></li>
                <li class="mb-2"><a href="https://github.com/JustASpoody">Github</a></li>
            </ul>
        </div>

        <div style="width: 200px; height: 200px; position: absolute; top:950px; left: 50px;">
            <h5>Projects</h5>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="https://github.com/JustASpoody/School_site">this site</a></li>
            </ul>
        </div>

    </div>
</body>
</html>